@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
}

.header-languages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-languages a {
    text-decoration: none;
    color: #8d8181;
    padding: 8px;
    transition: .2s color ease;
}

.header-languages a:hover {
    color: #000;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    max-width: 150px;
    height: 100px;
}
.header-logo img {
    width: 100%;
    height: 100%;
}

.header-menu .menu {
    display: flex;
    align-items: center;
}

.header-menu .menu .menu-item {
    margin-left: 20px;
    list-style-type: none;
}

.header-menu .menu .menu-item .menu-link {
    text-decoration: none;
    color: #2f334e;
    transition: .2s color ease;
}
.header-menu .menu .menu-item .menu-link:hover {
    color: red;
}

/* sec1 */
.sec1 {
    position: relative;
}
.sec1 .sec1-container {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 276px;
    width: 100%;
}
.sec1 a {
    position: absolute;
}
.sec1 .sec1-link-info,
.sec1 .sec1-link-catalog {
    color: #ffffff;
}
.sec1 a:hover {
    opacity: .7;
}

.sec1 .sec1-link-info {
    bottom: 16%;
    right: 39%;
}
.sec1 .sec1-link-catalog {
    bottom: 13%;
    right: 32%;
}
.sec1-contents {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.sec1 .sec1-contents input[type="search"] {
    height: 30px;
    outline: none;
    margin-left: 130px;
    width: 700px;
}

.sec1 .sec1-contents .sec1-content {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.sec1 .sec1-contents .sec1-content .sec1-info {
    cursor: pointer;
    margin-left: 10px;
}

.sec1 .sec1-contents .sec1-content .sec1-info img{
    width: 50px;
    height: 40px;
}

.sec1 .sec1-contents .sec1-content .sec1-info p {
    font-size: 10px;
}

.sec1-links {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.sec1-links .sec1-link {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.sec1-links .sec1-link a {
    margin-left: 20px;
    color: #000;
}

/* sec2 */

.sec2 {
    margin-top: 10px;
    padding: 10px 0 20px;
    height: auto;
}

.sec2 .container {
    background: linear-gradient(to left, #96d1d3, #0e96c9);
}

.sec2 .sec2-title {
    padding: 10px 0 0 10px;
    color: #ffffff;
    font-size: 26px;
}

.sec2 .sec2-title::after {
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 1000px;
    height: 8px;
    margin: 1px 0 1px 5px;
    background: linear-gradient(to left, #0499f0, #e3e8ea);
}

.sec2 .carousel {
    position: relative;
    overflow: hidden;
}

.sec2 .sec2-contents {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.sec2 .sec2-contents .sec2-content {
    width: 250px;
    height: auto;
}

.sec2 .sec2-contents .sec2-content img {
    width: 100%;
    height: 100%;
    border: solid 2px #000;
}

.sec2 .sec2-contents .sec2-content .sec2-content-info {
    background-color: #fff;
    width: 100%;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
}

.sec2 .sec2-contents .sec2-content .sec2-content-info h3 {
    font-size: 18px;
}

.arrow {
    position: absolute;
    cursor: pointer;
    top: 42%;
}

.arrow-prev {
    left: 0;
    padding: 5px;
    text-align: center;
}

.arrow-prev:hover {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    transition: background-color .1s ease;
}

.arrow-next {
    right: 0;
    padding: 5px;
    text-align: center;
}

.arrow-next:hover {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    transition: background-color .1s ease;
}

/* sec3 */

.sec3 {
    margin-top: 30px;
}

.sec3 .sec3-header {
    display: flex;
    align-items: center;
}

.sec3 .sec3-title {
    color: #6868db;
    font-size: 26px;
    font-weight: bold;
}

.sec3 .sec3-subtitle {
    /* margin-left: 100px; */
}

.sec3 .sec3-gradient {
    height: 6px;
    background: linear-gradient(to left, #96d1d3, #0e96c9);
    width: 400px;
    margin: 8px 10px 0;
}

.sec3 .sec3-contents {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.sec3 .sec3-contents .sec3-content {
    margin: 10px 15px 5px 0;
    width: 250px;
    height: 120px;
    background-color: orange;
}

.sec3 .sec3-contents .sec3-content .sec3-content-title {
    color: #fff;
    padding: 25px 0 0 10px;
    font-size: 18px;
}

.sec3 .sec3-contents .sec3-content .sec3-content-info {
    color: #fff;
    padding: 0 0 0 10px;
    font-size: 14px;
}

/* sec3 */

.sec4 {
    height: 400px;
}

.sec4 .container {
    height: 100%;
}

.sec4 .sec4-contents {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.sec4 .sec4-contents .sec4-content {
    height: 300px;
}

.sec4 .sec4-contents .gradient {
    background: linear-gradient(to left, #e1e6e6, #0e96c9);
    margin-right: 10px;
}

.sec4 .sec4-header {
    display: flex;
    align-items: center;
}

.sec4 .sec4-title {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.sec4 .sec4-subtitle {
    color: #0499f0;
}

.sec4 .sec4-gradient {
    height: 6px;
    background: linear-gradient(to left, #96d1d3, #0e96c9);
    width: 400px;
    margin: 8px 5px 0;
}

.sec4 .sec4-content .sec4-map {
    border: 1px solid #000;
}

.sec4 .sec4-content .sec4-map .map {
    font-size: 30px;
    text-align: right;
    margin: 112px;
}
